#page-treino {
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
}

#page-treino aside {
    width: 440px;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    padding: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-treino aside h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 64px;
}

#page-treino aside p {
    line-height: 28px;
    margin-top: 24px;
}

#page-treino aside footer {
    display: flex;
    flex-direction: column;

    line-height: 24px;
}
#page-treino aside footer strong {
    font-weight: 800;
}

#page-treino aside footer a,
#page-treino aside footer button {
  width: 48px;
  height: 48px;

  border: 0;

  background: #12AFCB;
  border-radius: 16px;

  cursor: pointer;

  transition: background-color 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-treino aside footer a:hover,
#page-treino aside footer button:hover {
  background: #17D6EB;
}


#page-treino main {
    flex: 1;
}
  
form.create-treino-form {
    width: 700px;
    margin: 350px auto;
  
    background: #FFFFFF;
    border: 1px solid #D3E2E5;
    border-radius: 20px;
  
    padding: 64px 80px;
  
    overflow: hidden;
}
form.create-treino-form .input-block + .input-block {
    margin-top: 24px;
  }
  
  form.create-treino-form .input-block label {
    display: flex;
    color: #8FA7B3;
    margin-bottom: 8px;
    line-height: 24px;
  }
  
  form.create-treino-form .input-block label span {
    font-size: 14px;
    color: #8FA7B3;
    margin-left: 24px;
    line-height: 24px;
  }
  
  form.create-treino-form .input-block input,
  form.create-treino-form .input-block textarea {
    width: 100%;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    border-radius: 20px;
    outline: none;
    color: #5C8599;
  }
  
  form.create-treino-form .input-block input {
    height: 64px;
    padding: 0 16px;
  }
  
  form.create-treino-form .input-block textarea {
    min-height: 120px;
    max-height: 240px;
    resize: vertical;
    padding: 16px;
    line-height: 28px;
  }
  
  form.create-treino-form button.confirm-button {
    margin-top: 64px;
  
    width: 105%;
    height: 64px;
    border: 0;
    cursor: pointer;
    background: #3CDC8C;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 800;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: background-color 0.2s;
  }
  form.create-treino-form button.confirm-button svg {
    margin-right: 16px;
  }
  
  form.create-treino-form button.confirm-button:hover {
    background: #36CF82;
  }
  
  