#page-treino {
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
}

#page-treino aside {
    width: 440px;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    padding: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-treino aside h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 64px;
}

#page-treino aside p {
    line-height: 28px;
    margin-top: 24px;
}

#page-treino aside footer {
    display: flex;
    flex-direction: column;

    line-height: 24px;
}
#page-treino aside footer strong {
    font-weight: 800;
}

#page-treino aside footer a,
#page-treino aside footer button {
  width: 48px;
  height: 48px;

  border: 0;

  background: #12AFCB;
  border-radius: 16px;

  cursor: pointer;

  transition: background-color 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-treino aside footer a:hover,
#page-treino aside footer button:hover {
  background: #17D6EB;
}


#page-treino main {
    flex: 1;
}

#container {
  width: min(90vw, 800px);
  margin: 300px 40px 80px 15px;
}

#transaction {
  display: block;
  width: 100%;
  overflow-x: auto;
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #969cb3;
}

table thead tr th:first-child, 
table tbody tr td:first-child
{
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child, 
table tbody tr td:last-child{
  border-radius: 0 0.25rem 0.25rem 0;
}

table thead th {
  background: white;

  font-weight: normal;
  padding: 1rem 2rem;

  text-align: left;
}

table tbody tr {
  opacity: 0.7
}

table tbody tr:hover {
  opacity: 1
}

table tbody td {
  background:white;
  padding: 1rem 2rem;
}



  

  